
.sk-fab-container {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    bottom: 28px;
    right: 28px;

    .sk-fab {
        background-color: #ff6358; //#2185d0;
        color: white;
        position: relative;
        z-index: 0;
        display: block;
        overflow: hidden;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        line-height: 56px;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        transition: background-color, opacity 100ms linear;
        background-clip: padding-box;
        user-select: none;

        &:hover {
            box-shadow: 0 14px 25px rgba(0,0,0,.16);
        }
    }
}

.k-pager-wrap .k-state-selected {
    border-radius: 50%;
}